force-app/main/default/flows/UpdateCaseByEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignSubject</name>
        <label>AssignSubject</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCaseByEmail2</name>
        <label>UpdateCaseByEmail2</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>getCase2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RakutenValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase2.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase2.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckEmailMessage</name>
        <label>CheckEmailMessage</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>getCase2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEmailTBL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_TIMBERLAND_EMAIL_ADDRESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCase</targetReference>
            </connector>
            <label>CheckEmailTBL</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateCaseByEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCaseByEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSubject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCase2</name>
        <label>getCase2</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseByEmail2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase2</name>
        <label>UpdateCase2</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>getCase2</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckEmailMessage</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[Timberland JP]</stringValue>
        </value>
    </variables>
    <variables>
        <name>RakutenValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[Rakuten]</stringValue>
        </value>
    </variables>
</Flow>
