force-app/main/default/flows/UpdateCaseByEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_DKS_Case_Creation_Response_Email</name>
        <label>Send DKS Case Creation Response Email</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Send_DKS_SFCC_Case_Creation_Response_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_flag_to_track_send_email_response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_DKS_Case_Creation_Response_Email</name>
        <label>Send DKS Case Creation Response Email</label>
        <locationX>1370</locationX>
        <locationY>1391</locationY>
        <actionName>Case.Send_DKS_SFCC_Case_Creation_Response_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_flag_to_track_send_email_response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rakuten_Case_Creation_Response_Email</name>
        <label>Send Rakuten Case Creation Response Email</label>
        <locationX>2074</locationX>
        <locationY>1055</locationY>
        <actionName>Case.Send_Rakuten_Case_Creation_Response_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rakuten_Update_the_flag_to_track_send_email_response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetCaseRakuten.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_TBL_Case_Creation_Response_Email</name>
        <label>Send TBL Case Creation Response Email</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Send_TBL_Case_Creation_Response_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_flag_to_track_send_email_response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_TBL_DKS_Case_Creation_Response_Email</name>
        <label>Send TBL Case Creation Response Email</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Send_TBL_Case_Creation_Response_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_flag_to_track_send_email_response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_VNS_SFCC_Case_Creation_Response_Email</name>
        <label>Send VNS SFCC Case Creation Response Email</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Send_VNS_SFCC_Case_Creation_Response_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_flag_to_track_send_email_response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_VNS_SFCC_Case_Creation_Response_Email_1</name>
        <label>Send VNS SFCC Case Creation Response Email</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Send_VNS_SFCC_Case_Creation_Response_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_flag_to_track_send_email_response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_DKS_SFCC_Case_Subject</name>
        <label>Assign DKS SFCC Case Subject</label>
        <locationX>1540</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DickiesSFCCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_receive_the_first_email_from_sender</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TBL_SFCC_Case_Subject</name>
        <label>Assign TBL SFCC Case Subject</label>
        <locationX>1012</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_receive_the_first_email_from_sender</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VNS_SFCC_Case_Subject</name>
        <label>Assign VNS SFCC Case Subject</label>
        <locationX>1276</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VansSFCCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_receive_the_first_email_from_sender</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseSubjectForRakuten</name>
        <label>AssignCaseSubjectForRakuten</label>
        <locationX>2360</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GetCaseRakuten.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RakutenValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseRakuten.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseRakuten.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Raukten_Does_receive_the_first_email_from_sender</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rakuten_Update_the_flag_to_track_send_email_response</name>
        <label>Update the flag to track send email response</label>
        <locationX>2206</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>GetCaseRakuten.Is_Email_To_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRakuten</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_flag_to_track_send_email_response</name>
        <label>Update the flag to track send email response</label>
        <locationX>743</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>getCase.Is_Email_To_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckEmailMessage</name>
        <label>CheckEmailMessage</label>
        <locationX>1922</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>isRakutenEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEmailTBL</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_TIMBERLAND_EMAIL_ADDRESS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_DKS_SFCC_EMAIL_ADDRESS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_VANS_EMAIL_ADDRESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCase</targetReference>
            </connector>
            <label>CheckEmailTBL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Enable_DKS_Response_Email</name>
        <label>Is Enable DKS Response Email</label>
        <locationX>1502</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_the_flag_to_track_send_email_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDKS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsTBL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.External_Site_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DKS_JP_EXTERNAL_SITE_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_DKS_Case_Creation_Response_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Enable_TBL_Response_Email</name>
        <label>Is Enable TBL Response Email</label>
        <locationX>1172</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Is_Enable_DKS_Response_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TBL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTBL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsDKS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.External_Site_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_TBL_JP_EXTERNAL_SITE_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_TBL_Case_Creation_Response_Email</targetReference>
            </connector>
            <label>TBL</label>
        </rules>
        <rules>
            <name>VNS_Respone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTBL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsDKS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsVNS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.External_Site_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_VNS_JP_EXTERNAL_SITE_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_VNS_SFCC_Case_Creation_Response_Email_1</targetReference>
            </connector>
            <label>VNS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_receive_the_first_email_from_sender</name>
        <label>Does receive the first email from sender?</label>
        <locationX>1276</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TBL_New_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.Is_Email_To_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Enable_TBL_DKS_VNS_Response_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Brand</name>
        <label>Is Case Brand?</label>
        <locationX>1276</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Assign_DKS_SFCC_Case_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_TBL_Case_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.External_Site_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_TBL_JP_EXTERNAL_SITE_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TBL_SFCC_Case_Subject</targetReference>
            </connector>
            <label>TBL</label>
        </rules>
        <rules>
            <name>Is_VNS_Case_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.External_Site_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_VNS_JP_EXTERNAL_SITE_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VNS_SFCC_Case_Subject</targetReference>
            </connector>
            <label>VNS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Enable_TBL_DKS_VNS_Response_Email</name>
        <label>Is Enable TBL DKS VNS Response Email</label>
        <locationX>743</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Is_Enable_TBL_Response_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Enable_TBL_DKS_VNS_Response_Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDKS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsTBL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsVNS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_By_Brand</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRakutenEmail</name>
        <label>isRakutenEmail</label>
        <locationX>2569</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RakutenEmailAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_RAKUTEN_EMAIL_ADDRESS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseRakuten</targetReference>
            </connector>
            <label>RakutenEmailAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rakuten_Is_Enable_Response_Email</name>
        <label>Is Enable Response Email</label>
        <locationX>2206</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Rakuten_Update_the_flag_to_track_send_email_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsEnableEmailResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rakuten_Case_Creation_Response_Email</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raukten_Does_receive_the_first_email_from_sender</name>
        <label>Does receive the first email from sender</label>
        <locationX>2360</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseRakuten.Is_Email_To_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rakuten_Is_Enable_Response_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_By_Brand</name>
        <label>Send Email By Brand</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_DKS_Case_Creation_Response_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_TBL_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.External_Site_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_TBL_JP_EXTERNAL_SITE_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_TBL_DKS_Case_Creation_Response_Email</targetReference>
            </connector>
            <label>TBL</label>
        </rules>
        <rules>
            <name>VNS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.External_Site_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TECH_VNS_JP_EXTERNAL_SITE_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_VNS_SFCC_Case_Creation_Response_Email</targetReference>
            </connector>
            <label>VNS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsDKS</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Email_Response__c.DKS__c}</expression>
    </formulas>
    <formulas>
        <name>IsEnableEmailResponse</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Email_Response__c.Is_Enable__c}=true</expression>
    </formulas>
    <formulas>
        <name>IsTBL</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Email_Response__c.TBL__c}</expression>
    </formulas>
    <formulas>
        <name>IsVNS</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Email_Response__c.VNS__c}</expression>
    </formulas>
    <interviewLabel>UpdateCaseByEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCaseByEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>1276</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Brand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRakuten</name>
        <label>GetCaseRakuten</label>
        <locationX>2360</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCaseSubjectForRakuten</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>743</locationX>
        <locationY>1919</locationY>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseRakuten</name>
        <label>UpdateCaseRakuten</label>
        <locationX>2206</locationX>
        <locationY>1391</locationY>
        <inputReference>GetCaseRakuten</inputReference>
    </recordUpdates>
    <start>
        <locationX>1796</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckEmailMessage</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[Timberland JP]</stringValue>
        </value>
    </variables>
    <variables>
        <name>DickiesRakutenValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[Rakuten]</stringValue>
        </value>
    </variables>
    <variables>
        <name>DickiesSFCCValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[Dickies JP]</stringValue>
        </value>
    </variables>
    <variables>
        <name>HasBeenSentTBLResponseEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RakutenValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[Rakuten]</stringValue>
        </value>
    </variables>
    <variables>
        <name>VansSFCCValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[Vans JP]</stringValue>
        </value>
    </variables>
</Flow>
